{% extends "base.html" %}

{% block title %}About us{% endblock %}
{% load static %}

{% block extra_styles %}


{% endblock %}

{% block nav_links %}

{% endblock %}


{% block content %}  




   <!--Body Container-->
   <div id="page-content">
    <!--Collection Banner-->
    <div class="collection-header">
        <div class="collection-hero m-0">
            <div class="collection-hero__image"></div>
            <div class="collection-hero__title-wrapper container">
                <h1 class="collection-hero__title">About Us</h1>
                <div class="breadcrumbs text-uppercase mt-1 mt-lg-2"><a href="{% url 'index' %}" title="Back to the home page">Home</a><span>|</span><span class="fw-bold">About Us Style1</span></div>
            </div>
        </div>
    </div>
    <!--End Collection Banner-->

    <!--Main Content-->
    <!--Content Info-->
    <div class="container section">
        <div class="row about-info1">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 mx-auto text-center">
                <h2 class="mb-3 fw-normal fs-26 text-capitalize">Celebrating 50 years -
                    passion, pride & determination.</h2> 
                <p>To proudly manufacture the safest, stylish and most comfortable helmets that are inspired by riders. Our 3000  family of employees remains passionate</p>                     
            </div>
        </div>
    </div>
    <!--End Content Info-->

    <!--The Founder-->
    <div class="container-fluid px-0 clr-f5 about-bnr-text">
        <div class="row g-0 align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 row_text">
                <div class="about-info2 row-text">
                    <h3 class="h6">SINCE 2000 <b class="h1 fs-26 d-block mt-2 fw-bold">The Founder</b></h3>
                    <p>To be the choice of riders worldwide for safe, stylish and high-quality helmets.</p>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, even slightly believable.</p>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <img class="about-info-img blur-up lazyload" data-src="{% static 'assets/images/about/about-info.png' %}" src="{% static 'assets/images/about/about-info.png' %}" alt="about" />
            </div>
        </div>
    </div>
    <!--End The Founder-->

    <!--Our Story-->
    <div class="container section pb-0">
        <div class="section-header col-12">
            <h2 class="text-capitalize">Our Story</h2>
            <p>Est. 2000</p>
        </div>
        <div class="row about-info3">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <p>We strive to keep the entire  manufacturing process inhouse in our state of the art manufacturing facilities so our riders can choose SMK with confidence knowing  they are wearing a product that is safe,  </p>
                <p>has been manufactured to the highest quality using the most advanced techniques and materials.</p>
                <p>about delivering high quality products as we have over the last 50+ years.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <p>We strive to keep the entire  manufacturing process inhouse in our state of the art manufacturing facilities so our riders can choose SMK with confidence knowing  they are wearing a product that is safe,  </p>
                <p>has been manufactured to the highest quality using the most advanced techniques and materials.</p>
                <p>about delivering high quality products as we have over the last 50+ years.</p>
            </div>
        </div>

        <div class="row section">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <h3>Our Vision</h3>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <p>To proudly manufacture the safest, stylish and most comfortable helmets that are inspired by riders. Our 3000  family of employees remains passionate about delivering high quality products as we have over the last 50+ years.

                    We strive to keep the entire  manufacturing process inhouse in our state of the art manufacturing facilities so our riders can choose SMK with confidence knowing  they are wearing a product that is safe, has been manufactured to the highest quality using the most advanced techniques and materials. </p>
            </div>
        </div>
        <div class="row mt-0 mt-md-4">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <h3 class="mb-3">Out Team</h3>
                <p>KEY PEOPLE</p>
                <p>Thejus Mohan </p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                <div class="row team-items mt-4 mt-md-0">
                    <div class="team-item col-6 col-sm-4 col-md-4 col-lg-4 text-center mb-4 mb-sm-0">
                        <div class="team-img zoom-scal position-relative overflow-hidden">
                            <img class="blur-up lazyload w-100" data-src="{% static 'assets/images/about/thejus2.png' %}" src="{% static 'assets/images/about/thejus2.png' %}" alt="team" />
                            <div class="social-url d-flex-wrap flex-column">
                                <a class="px-1" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Facebook"><i class="an an-facebook"></i></a>
                                <a class="px-1" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Twitter"><i class="an an-twitter"></i></a>
                                <a class="px-1" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Instagram"><i class="an an-instagram"></i></a>
                                <a class="px-1" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Linkedin"><i class="an an-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="team-bio pt-3">
                            <h4>Chineze Afamefuna</h4>
                            <p>Designer</p>
                        </div>
                    </div>
                    <div class="team-item col-6 col-sm-4 col-md-4 col-lg-4 text-center mb-4 mb-sm-0">
                        <div class="team-img zoom-scal position-relative overflow-hidden">
                            <img class="blur-up lazyload w-100" data-src="{% static 'assets/images/about/thejus1.png' %}" src="{% static 'assets/images/about/thejus1.png' %}" alt="team" />
                            <div class="social-url d-flex-wrap flex-column">
                                <a class="px-1" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Facebook"><i class="an an-facebook"></i></a>
                                <a class="px-1" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Twitter"><i class="an an-twitter"></i></a>
                                <a class="px-1" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Instagram"><i class="an an-instagram"></i></a>
                                <a class="px-1" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Linkedin"><i class="an an-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="team-bio pt-3">
                            <h4>John Nicholson</h4>
                            <p>Developer</p>
                        </div>
                    </div>
                    <div class="team-item col-6 col-sm-4 col-md-4 col-lg-4 text-center mb-0 mb-sm-0">
                        <div class="team-img zoom-scal position-relative overflow-hidden">
                            <img class="blur-up lazyload w-100" data-src="{% static 'assets/images/about/thejus3.png' %}" src="{% static 'assets/images/about/thejus3.png' %}" alt="team" />
                            <div class="social-url d-flex-wrap flex-column">
                                <a class="px-1" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Facebook"><i class="an an-facebook"></i></a>
                                <a class="px-1" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Twitter"><i class="an an-twitter"></i></a>
                                <a class="px-1" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Instagram"><i class="an an-instagram"></i></a>
                                <a class="px-1" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Linkedin"><i class="an an-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="team-bio pt-3">
                            <h4>Lisa John</h4>
                            <p>Marketing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div>
    <!--End Our Story-->
    <!--End Main Content-->
</div>
<!--End Body Container-->










{% endblock %}

         
{% block scripts %}



                
{% endblock %}