
{% extends "base.html" %}

{% block title %} User login{% endblock %}
{% load static %}

{% block extra_styles %}
<style>



    .widget-content {
        padding: 10px; /* Adjust as needed */
    }
    .category-item {
        display: flex; /* Use flexbox to align items in a row */
        align-items: center; /* Align items vertically centered */
        margin-bottom: 10px; /* Space between each item */
    }
    
    .category-checkbox {
        margin-right: 8px; /* Space between checkbox and label */
    }
    
    .category-label {
        font-size: 14px; /* Adjust font size as needed */
    }
</style>

{% endblock %}

{% block nav_links %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.2/nouislider.min.css">


{% endblock %}
   


{% block content %}    




            <!--Body Container-->
            <div id="page-content">  
                <!--Collection Banner-->
                <div class="collection-header">
                    <div class="collection-hero">
                        <div class="collection-hero__image"></div>
                        <div class="collection-hero__title-wrapper container">
                            <h2 class="collection-hero__title">Shop page</h2>
                            <div class="breadcrumbs text-uppercase mt-1 mt-lg-2"><a href="{% url 'index' %}" title="Back to the home page">Home</a><span>|</span><span class="fw-bold">Shop Page</span></div>
                        </div>
                    </div>
                </div>
                <!--End Collection Banner-->

                <div class="container">
                    <div class="row">
                        <!--Sidebar-->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 sidebar filterbar">
                            <div class="closeFilter d-block d-lg-none"><i class="icon icon an an-times-r"></i></div>
                            <div class="sidebar_tags">

                                <form method="get" action="{% url 'shop' %}" class="filter-form">
                                <!--Categories-->
                                <div class="sidebar_widget categories filterBox filter-widget">
                                    <div class="widget-title"><h2 class="mb-0">Categories</h2></div>
                                    <div class="widget-content filterDD">
                                        {% for category in categories %}
                                            <div class="category-item">
                                                <input type="checkbox" id="category-item-{{ forloop.counter }}" name="category_ids" value="{{ category.id }}" class="category-checkbox checker">
                                                <label for="category-item-{{ forloop.counter }}" class="site-nav category-label">
                                                    {{ category.cat_name }} <span>({{ category.products_set.all.count }})</span>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div> 
                                <!--Categories-->
                                <!-- Price Filter -->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes price-range">
                                    <div class="widget-title"><h2 class="mb-0">Price</h2></div>
                                    <div class="filterDD">
                                        <ul class="clearfix">
                                            <li>
                                                <input type="checkbox" value="500-1000" id="price1" name="price_ranges">
                                                <label for="price1"><span></span>500 to 1000</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="1000-2000" id="price2" name="price_ranges">
                                                <label for="price2"><span></span>1000 to 2000</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="2000-3000" id="price3" name="price_ranges">
                                                <label for="price3"><span></span>2000 to 3000</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="3000-4000" id="price4" name="price_ranges">
                                                <label for="price4"><span></span>3000 to 4000</label>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                                
                                <!-- End Price Filter -->
                                
                              
                                
                                
                                <!--Availability-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes availability">
                                    <div class="widget-title"><h2 class="mb-0">Availability</h2></div>
                                    <div class="filterDD">
                                        <ul class="clearfix">
                                            <li><input type="checkbox" value="instock" id="instock" name="availability"><label for="instock"><span></span>In stock</label></li>
                                            <li><input type="checkbox" value="outofstock" id="outofstock" name="availability" ><label for="outofstock"><span></span>Out of stock</label></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--End Availability-->
                                
                                
                                <!--Banner-->
                                <div class="sidebar_widget static-banner">
                                    <a href="shop-fullwidth.html"><img src="{% static 'assets/images/shop-banner.PNG' %}" alt="image"></a>
                                </div>
                                <!--End Banner-->
                            </div>
                        </div>
                        <!--End Sidebar-->

                        <!--Main Content-->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 main-col">
                            <div class="page-title"><h1>Helmets</h1></div>
                            <!--Toolbar-->
                            <div class="toolbar">
                                <div class="filters-toolbar-wrapper">
                                    <ul class="list-unstyled d-flex align-items-center">
                                        <li class="product-count d-flex align-items-center">
                                            <button type="button" class="btn btn-filter an an-slider-3 d-inline-flex d-lg-none me-2 me-sm-3"><span class="hidden">Filter</span></button>
                                            <div class="filters-toolbar__item">
                                                
                                                <span class="filters-toolbar__product-count d-none d-sm-block">Showing products</span>
                                                
                                            </div>
                                        </li>
                                        <li class="collection-view ms-sm-auto">
                                            <div class="filters-toolbar__item collection-view-as d-flex align-items-center me-3">
                                                <a href="javascript:void(0)" class="change-view prd-grid change-view--active"><i class="icon an an-th" aria-hidden="true"></i><span class="tooltip-label">Grid View</span></a>
                                                <a href="javascript:void(0)" class="change-view prd-list"><i class="icon an an-th-list" aria-hidden="true"></i><span class="tooltip-label">List View</span></a>
                                            </div>
                                        </li>
                                        <li class="filters-sort ms-auto ms-sm-0">
                                            <div class="filters-toolbar__item">
                                                <label for="SortBy" class="hidden">Sort by:</label>
                                                <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort">
                                                    <option value="featured" selected="selected">Featured</option>
                                                    
                                                    <option value="title-ascending">Alphabetically, A-Z</option>
                                                    <option value="title-descending">Alphabetically, Z-A</option>
                                                    <option value="price-ascending">Price, low to high</option>
                                                    <option value="price-descending">Price, high to low</option>

                                                </select>
                                            </div>
                                        </li>
                                    </ul>
                                    <button type="submit" class="btn btn-filter">Apply Filters</button>
                                </form>
                                </div>
                            </div>

                            <!--End Toolbar-->

                            <!--Product Grid-->
                            <div class="grid-products grid--view-items prd-grid">
                                <div class="row" id = "product-container">




                                    {% for product in products %}
                                    {% if product.is_listed %}
                                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 item">
                                        <!--Start Product Image-->
                                        <div class="product-image">
                                            <!--Start Product Image-->
                                            {% with product.images.first as primary_image %}
                                            <a href="{% url 'product' product_slug=product.slug product_id=product.id %}" class="product-img">
                                                <!-- image -->
                                                <img class="primary blur-up lazyload" data-src="{{ primary_image.image.url }}" src="{{ primary_image.image.url }}" alt="image" title="">
                                                <!-- End image -->
                                                {% endwith %}
                                                {% with product.images.last as hover_image %}
                                                <!-- Hover image -->
                                                <img class="hover blur-up lazyload" data-src="{{hover_image.image.url}}" src="{{hover_image.image.url}}" alt="image" title="">
                                                <!-- End hover image -->
                                                {% endwith %}
                                                <!-- product label -->
                                                <!-- <div class="product-labels"><span class="lbl on-sale rounded">Sale</span></div> -->
                                                <!-- End product label -->
                                            </a>
                                            <!--End Product Image-->

                                            <!--Product Button-->
                                            <div class="button-set style2">
                                                <ul>
                                                    <li>
                                                        <!--Cart Button-->

                                                        <!-- Custom Add to Cart Button -->

                                                        <button data-product="{{ product.id }}" method="post" data-action="add" class="btn-icon btn btn-addto-cart pro-addtocart-popup update-cart">
                                                            <i class="icon an an-cart-l"></i>
                                                            <span class="tooltip-label">Add to Cart</span>
                                                        </button>
                                                      

                                                        <!--end Cart Button-->
                                                    </li>
                                                   <li>
                                                        <!--Wishlist Button-->
                                                        <button data-product="{{ product.id }}" data-action="add" class="btn-icon wishlist add-to-wishlist pro-addtowishlist-popup update_wishlist">
                                                            <i class="icon an an-heart-l"></i>
                                                            <span class="tooltip-label">Add To Wishlist</span>
                                                        </button>
                                                        <!--End Wishlist Button-->
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--End Product Button--> 
                                        </div>
                                        <!--End Product Image-->
                                        <!--Start Product Details-->
                                        <div class="product-details text-center">
                                            <!--Product Name-->
                                            <div class="product-name text-uppercase">
                                                <a href="product-layout1.html">{{product.name|truncatechars:50}}</a>
                                            </div>
                                            <!--End Product Name-->
                                            {% if product.is_offer_applied %}
                                            <div class="product-price">
                                                <span class="old-price">&#8377;{{ product.price }}</span>
                                                <span class="price">&#8377;{{ product.discounted_price }}</span>
                                            </div>
                                            {% else %}
                                            <div class="product-price">
                                                <span class="price">&#8377;{{ product.price }}</span>
                                            </div>
                                            {% endif %}
                                            <!--End Product Price-->
                                            <!--Product Review-->
                                            <div class="product-review d-flex align-items-center justify-content-center">
                                                <i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i>
                                                <span class="caption hidden ms-2">8 reviews</span>
                                            </div>
                                            <!--End Product Review-->
                                           
                                            
                                        </div>
                                        <!--End Product Details-->
                                    </div>


                                    {% endif %}
                                    {% endfor %}
                                    




                                   
                                    










                                </div>
                            </div>
                            <!--End Product Grid-->

                            <!--Pagination Classic-->
                            <hr class="clear">
                            <div class="pagination">
                                <ul>
                                    {% if products.has_previous %}
                                    <li class="prev"><a href="?{% if current_filters %}{{ current_filters.urlencode }}&{% endif %}page={{ products.previous_page_number }}"><i class="icon align-middle an an-caret-left" aria-hidden="true"></i></a></li>
                                    {% endif %}
                            
                                    {% for num in products.paginator.page_range %}
                                        {% if products.number == num %}
                                        <li class="active"><a href="#">{{ num }}</a></li>
                                        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                        <li><a href="?{% if current_filters %}{{ current_filters.urlencode }}&{% endif %}page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                            
                                    {% if products.has_next %}
                                    <li class="next"><a href="?{% if current_filters %}{{ current_filters.urlencode }}&{% endif %}page={{ products.next_page_number }}"><i class="icon align-middle an an-caret-right" aria-hidden="true"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            
                            <!--End Pagination Classic-->

                          
                        </div>
                        <!--End Main Content-->
                    </div>
                </div>
            </div>
            <!--End Body Container-->


            {% endblock %}            


            {% block scripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.2/nouislider.min.js"></script>

            <script>
                var user = "{{ request.user }}";
                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                const csrftoken = getCookie('csrftoken')
                </script>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const form = document.querySelector('.filter-form');
                        const url = new URL(window.location.href);
                        const urlParams = new URLSearchParams(url.search);
                
                        // Restore the checkbox states from URL parameters
                        form.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                            const paramName = checkbox.name;
                            const paramValue = checkbox.value;
                            console.log(paramName, paramValue);
                            // Check if the URL parameters contain the checkbox value
                            if (urlParams.has(paramName) && urlParams.getAll(paramName).includes(paramValue)) {
                                checkbox.checked = true;
                            }
                        });
                
                        // Restore the select option from URL parameters
                        const sortBySelect = document.querySelector('select[name="SortBy"]');
                        const sortByValue = urlParams.get('SortBy');
                        if (sortByValue) {
                            sortBySelect.value = sortByValue;
                        }
                
                        // Handle form changes
                        form.addEventListener('change', function() {
                            const formData = new FormData(form);
                            const params = new URLSearchParams();
                            console.log(params, formData);
                
                            // Gather new parameters
                            for (const [key, value] of formData.entries()) {
                                if (value) {
                                    if (Array.isArray(value)) {
                                        value.forEach(val => params.append(key, val));
                                    } else {
                                        params.append(key, value);
                                    }
                                }
                            }
                
                            // Update URL with new parameters
                            url.search = params.toString();
                            window.history.replaceState({}, '', url.toString());
                        });
                
                        // Handle select change directly for SortBy
                        sortBySelect.addEventListener('change', function() {
                            const selectedValue = sortBySelect.value;
                            urlParams.set('SortBy', selectedValue);
                            url.search = urlParams.toString();
                            window.history.replaceState({}, '', url.toString());
                        });
                    });
                </script>
                
                <!-- <script>
                    let url = ""
                    let procuredata = async (category_id) => {
                        let res = await fetch(url,{
                            method : 'POST',
                            headers : {
                                'Content-type':'application/json',  
                                'X-CSRFToken':'{{csrf_token}}',
                            },
                            body : JSON.stringify({
                                categories : category_id
                            })
                        })
                        return await res.json()
                    }
                   
                    let checkboxes = document.querySelectorAll('.checker')
                    checkboxes.forEach((check)=>{
                        check.addEventListener('change',async (event)=>{
                            let checkbox = Array.from(checkboxes).filter((checke)=>checke.checked).map((checke)=>checke.value);
                            let data = await procuredata(checkbox)
                            console.log(checkbox)
                            console.log(data)
                            container.innerHTML = data.data

                        })
                    })

                </script>


                <script>
                    var updateBtn = document.getElementsByClassName('update_wishlist');
                    for (let i = 0; i < updateBtn.length; i++) {
                        updateBtn[i].addEventListener("click", function() {
                            let productId = this.dataset.product;
                            let action = this.dataset.action;
                            console.log("productId:", productId, "action:", action);
                
                            if (productId && action) {
                                updateUserWishlist(productId, action);
                            } else {
                                console.error("Missing productId or action!");
                            }
                        });
                    }
                
                    function updateUserWishlist(productId, action) {
                        fetch("/update_wishlist/", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRFToken": csrftoken,
                            },
                            body: JSON.stringify({ productId: productId, action: action }),
                        })
                        .then((response) => {
                            if (!response.ok) {
                                return response.text().then((text) => {
                                    throw new Error(text);
                                });
                            }
                            return response.json();
                        })
                        .then((data) => {
                            console.log("data:", data);
                            location.reload();
                        })
                        .catch((error) => {
                            console.error("Error:", error);
                        });
                    }
                </script>  -->

            {% endblock %}














            