{% extends "adminbase.html" %}
{% load static %}
{% block title %}Admin-Category{% endblock %}

{% block extra_styles %}
<!-- Custom style CSS -->
{% endblock %}

{% block content %}
{% load static %}
<section class="section">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Edit Category</h4>
          </div>
          <div class="card-body">
  
            
            <div id="editCategoryFormContainer">
              <form id="editCategoryForm" action="{% url 'editcategory' data.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="cat_name">Category Name</label>
                  <input type="text" class="form-control" id="cat_name" name="cat_name" value="{{ data.cat_name }}" required>
                </div>
                <div class="form-group">
                  <label for="cat_thumbnail">Thumbnail</label>
                  <input type="file" class="form-control" id="cat_thumbnail" name="cat_thumbnail">
                  {% if data.cat_thumbnail %}
                    <img src="{{ data.cat_thumbnail.url }}" alt="Current Thumbnail" style="max-height: 200px; margin-top: 10px;">
                  {% endif %}
                </div>
                <div class="form-group">
                  <a href="{% url 'admincategory' %}"><button type="button" class="btn btn-secondary" id="cancelEditCategory">Cancel</button></a>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
              {% if messages %}
              <div class="messages text-center text-capitalize font-weight-bold">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <h5 class="text-danger">! {{ message }}</h5>
            {% elif message.tags == 'success' %}
            <h5 class="text-success">! {{ message }}</h5>
            {% else %}
            <h5>! {{ message }}</h5>
            {% endif %}
            {% endfor %}
            </div>
            {% endif %}
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  
 
  

{% endblock %}

{% block scripts %}
<script src="{% static 'adminassets/js/app.min.js' %}"></script>
<script src="{% static 'adminassets/bundles/datatables/datatables.min.js' %}"></script>
<script src="{% static 'adminassets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminassets/bundles/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'adminassets/js/page/datatables.js' %}"></script>
<script src="{% static 'adminassets/js/scripts.js' %}"></script>
<script src="{% static 'adminassets/js/custom.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.getElementById('cancelEditCategory').addEventListener('click', function() {
      window.location.href = '/categories'; // Adjust the URL as needed
    });
</script>
{% endblock %}
