{% extends "adminbase.html" %}
{% load static %}
{% block title %}Add Coupon{% endblock %}

{% block extra_styles %}
<!-- Custom style CSS -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css">
{% endblock %}

{% block content %}
<section class="section">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Edit offer : {{offer.name}}</h4>
                </div>
                <!-- Alert Messages -->
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    <div>
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}

                <div class="card-body">
                    <div id="addProductsFormContainer">
                       
                        <form id="addProductsForm" action="{% url 'edit_offer' offer.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title">Offer name</label>
                                <input type="text" class="form-control" id="name" name="name" value="{{ offer.name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="start_date">Start Date</label>
                                <input type="date" class="form-control" id="start_date" name="start_date" value="{{ offer.start_date|date:'Y-m-d' }}" required>
                            </div>
                            <div class="form-group">
                                <label for="end_date">End Date</label>
                                <input type="date" class="form-control" id="end_date" name="end_date" value="{{ offer.end_date|date:'Y-m-d' }}" required>
                            </div>
                            <div class="form-group">
                                <label for="discount_percentage">Discount Percentage</label>
                                <input type="number" step="0.01" class="form-control" id="discount_percentage" name="discount_percentage" value="{{offer.discount_percentage}}" required>
                            </div>
                            <div class="form-group">
                                <label for="isActive" class="form-label">Status</label>
                                <select class="form-control" id="isActive" name="is_active">
                                    <option value="True" {% if offer.is_active %}selected{% endif %}>Active</option>
                                    <option value="False" {% if not offer.is_active %}selected{% endif %}>Inactive</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="offerType" class="form-label">Offer Type</label>
                                <select class="form-control" id="offerType" name="offer_type">
                                    <option value="product" {% if offer.offer_type == "product" %} selected {% endif %}>Product</option>
                                    <option value="category" {% if offer.offer_type == "category" %} selected {% endif %}>Category</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}



                
<script src="{% static 'adminassets/bundles/datatables/datatables.min.js' %}"></script>
<script src="{% static 'adminassets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminassets/js/page/datatables.js' %}"></script>
<script src="{% static 'adminassets/js/scripts.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  
{% endblock %}
