{% load static %}

{% if is_error %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="error-content py-4">
                <img src="{% static 'assets/images/error-404.jpg' %}" alt="error-404" />
                <div class="page-title"><h1>404 - PAGE NOT FOUND</h1></div>
                <p>We can't seem to find page you are looking for.</p>
                <p><a href="{% url 'shop' %}" class="btn btn-outline-primary rounded text-capitalize mb-2 me-2">Go Back</a><a href="{% url 'index' %}" class="btn rounded mb-2 text-capitalize">Continue shopping</a></p>
            </div>
        </div>
    </div>
</div>

{% else %}

{% for product in products %}
{% if product.is_listed %}
<div class="col-6 col-sm-6 col-md-4 col-lg-4 item">
    <!--Start Product Image-->
    <div class="product-image">
        <!--Start Product Image-->
        {% with product.images.first as primary_image %}
        <a href="{% url 'product' product_slug=product.slug product_id=product.id %}" class="product-img">
            <!-- image -->
            <img class="primary blur-up lazyload" data-src="{{ primary_image.image.url }}" src="{{ primary_image.image.url }}" alt="image" title="">
            <!-- End image -->
            {% endwith %}
            {% with product.images.last as hover_image %}
            <!-- Hover image -->
            <img class="hover blur-up lazyload" data-src="{{hover_image.image.url}}" src="{{hover_image.image.url}}" alt="image" title="">
            <!-- End hover image -->
            {% endwith %}
            <!-- product label -->
            <!-- <div class="product-labels"><span class="lbl on-sale rounded">Sale</span></div> -->
            <!-- End product label -->
        </a>
        <!--End Product Image-->

        <!--Product Button-->
        <div class="button-set style2">
            <ul>
                <li>
                    <!--Cart Button-->

                    <!-- Custom Add to Cart Button -->

                    <button data-product="{{ product.id }}" method="post" data-action="add" class="btn-icon btn btn-addto-cart pro-addtocart-popup update-cart">
                        <i class="icon an an-cart-l"></i>
                        <span class="tooltip-label">Add to Cart</span>
                    </button>
                  

                    <!--end Cart Button-->
                </li>
               <li>
                    <!--Wishlist Button-->
                    <a class="btn-icon wishlist add-to-wishlist" href="my-wishlist.html">
                        <i class="icon an an-heart-l"></i>
                        <span class="tooltip-label">Add To Wishlist</span>
                    </a>
                    <!--End Wishlist Button-->
                </li>
            </ul>
        </div>
        <!--End Product Button--> 
    </div>
    <!--End Product Image-->
    <!--Start Product Details-->
    <div class="product-details text-center">
        <!--Product Name-->
        <div class="product-name text-uppercase">
            <a href="product-layout1.html">{{product.name|truncatechars:50}}</a>
        </div>
        <!--End Product Name-->
        <!--Product Price-->
        <div class="product-price">
            <span class="price">{{product.price}}</span>
        </div>
        <!--End Product Price-->
        <!--Product Review-->
        <div class="product-review d-flex align-items-center justify-content-center">
            <i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i>
            <span class="caption hidden ms-2">8 reviews</span>
        </div>
        <!--End Product Review-->
       
        
    </div>
    <!--End Product Details-->
</div>


{% endif %}
{% endfor %}
{% endif %}