{% extends "adminbase.html" %}
{% load static %}
{% block title %}Admin-ordered-product details{% endblock %}

<!-- this block custom styles eg :
<link rel="stylesheet" href="{% static 'css/custom_style.css' %}"> -->
{% block extra_styles %}

<style>
    .status-pending {
      color: orange;
    }
    .status-processing {
      color: blue;
    }
    .status-shipped {
      color: purple;
    }
    .status-delivered {
      color: green;
    }
    .status-cancelled {
      color: red;
    }
    .status-returned {
      color: brown;
    }
  </style>

{% endblock %}
<!-- end styles -->

<!-- main content start -->
{% block content %}

<!-- Main Content -->

<section class="section">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Table of users ordered products details</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover" id="save-stage" style="width:100%;">
              <thead>
                <tr>
                  <th>product Id</th>
                  <th>product name</th>
                  <th>Ordered quantity</th>
                  <th>Total price</th>
                  <th>Product status</th>
                  
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for order_product in order.order.all %}
                <tr data="">
                  <td>{{ order_product.product.id }}</td>
                  <td>{{ order_product.product.name }}</td>
                  <td>{{ order_product.quantity }}</td>
                  <td>{{ order_product.totel_price }}</td>
                  
                  <td>
                    <span class="status-{{ order_product.status|lower }}">
                      {{ order_product.status }}
                    </span>
                  </td>
                  <td ><a href="{% url 'update_order_product_status'  order.orderid order_product.id %}" class="orderdetails btn btn-primary">view products</a></td>  

                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
<!-- main content start -->

{% block scripts %}

<script src="{% static 'adminassets/bundles/datatables/datatables.min.js' %}"></script>
<script src="{% static 'adminassets/bundles/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'adminassets/js/page/datatables.js' %}"></script>


{% endblock %}




